@model IEnumerable<KisekaeModel>

@{
    ViewData["Title"] = "Select";
}

<form enctype="multipart/form-data" method="post" asp-action="Upload" id="file_upload">
    <fieldset>
        <input type="file" name="file" multiple accept=".lzh">
        <input type="submit" value="Upload">
    </fieldset>
</form>

<ul>
    @foreach (var kiss in Model)
    {
        <li>
            @kiss.Name
            <ul>
                @foreach (var (key, value) in kiss.Configurations)
                {
                    <li>
                        <a asp-controller="Play" asp-action="Index" asp-route-id="@key">@value</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>