@model IEnumerable<ConfigurationModel>

@{
    ViewData["Title"] = "Select";
}

<form enctype="multipart/form-data" method="post" asp-action="Upload">
    <input type="file" name="file">
    <input class="btn" type="submit" value="Upload">
</form>

<ul>
    @foreach (var kiss in Model)
    {
        <li>
            @kiss.Name
            <ul>
                @foreach (var (key, value) in kiss.Configurations)
                {
                    <li>
                        <a asp-controller="Play" asp-action="Index" asp-route-id="@kiss.Id" asp-route-configId="@key">@value</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>