@model IEnumerable<ConfigurationModel>

@{
    ViewData["Title"] = "Select";
}

<form enctype="multipart/form-data" method="post" asp-action="Upload" id="file_upload">
    <fieldset>
        <input type="file" name="file" multiple accept=".lzh" class="visually-hidden" id="lzh_upload">
        <label for="lzh_upload" class="mdc-button mdc-button--outlined">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Add KiSS file(s)</span>
        </label>
        
        <button type="submit" class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Upload</span>
        </button>
        
        <div class="selected-files mdc-evolution-chip-set" role="grid">
            <div class="mdc-evolution-chip-set__chips" role="presentation"></div>
        </div>
    </fieldset>
</form>

<ul>
    @foreach (var kiss in Model)
    {
        <li>
            @kiss.Name
            <ul>
                @foreach (var (key, value) in kiss.Configurations)
                {
                    <li>
                        <a asp-controller="Play" asp-action="Index" asp-route-id="@kiss.Id">@value</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@section Scripts
{
    <script src="~/js/uploader.js" asp-append-version="true"></script>
}
