@model PlaysetModel

@{
    ViewBag.Title = "Play";
    Layout = "_Layout";
}

<div>
    @foreach (var palette in Model.Palettes)
    {
        <p>
            @palette.Comment<br>
            @foreach (var color in palette.Colors)
            {
                <span style="background-color: #@(color.ToHex())">@color</span>
            }
        </p>
    }
</div>

<div>
    @foreach (var cel in Model.Cels)
    {
        foreach (var (key, value) in cel.ImageByPalette)
        {
            <img src="data:image/gif;base64,@value" alt="@key">
        }
    }
</div>