@model PlaysetModel

@{
    ViewBag.Title = "Play";
    Layout = "_Layout";
}

<div>
    @foreach (var palette in Model.Palettes)
    {
        <p>
            Start Palette
            @palette.Comment<br>
            @foreach (var color in palette.Colors)
            {
                <span style="background-color: #@(color.ToHex())">@color</span>
            }
            <br>
            End Palette
        </p>
    }
</div>

<div>
    @foreach (var cel in Model.Cels)
    {
        <img src="data:image/gif;base64,@cel.DefaultImage" alt="@cel.FileName">
    }
</div>