@model PlaysetModel

@{
    ViewBag.Title = $"Play with {Model.Name}";
    Layout = "_Layout";
}

<header id="play_menu">
    <ul>
        <li>
            <button class="mdc-button mdc-button--icon-trailing" data-rel="reset">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Reset</span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">restart_alt</i>
            </button>
        </li>
        <li class="mdc-typography--button">Sets</li>
    </ul>
</header>
<article id="play_area" style="background-color: #@Model.BorderColor"></article>
@section Scripts
{
    <script>
        document.kisekae.load("play_area", "play_menu", @Json.Serialize(Model))
    </script>
}
