@model PlaysetModel

@{
    ViewData["Title"] = $"Play with {Model.Name}";
}

<header>
    Sets:
    @for (var index = 0; index < Model.Sets.Length; index++)
    {
        @if (Model.Sets[index])
        {
            <a href="javascript:" class="set-link" data-set="@index">@(index + 1)</a>
        }
    }
</header>
<div class="container">
    <canvas id="play_space"></canvas>
</div>

@section Scripts
{
    <script src="~/js/main.js"></script>
    <script>playSet = @Json.Serialize(Model);</script>

}