$fxl-gray: #263238;
$fxl-orange: #ff6e40;

@use "@material/theme" with (
  $primary: $fxl-orange,
  $on-primary: $fxl-gray
);

@use "@material/icon-button/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  @include icon-button.core-styles;
  
  display: flex;
  flex-direction: column;
  
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  footer {
    font-size: smaller;
    text-align: center;
  }
}